body {
    font-family: Helvetica;
    
}
h1 {
    color: lightgoldenrodyellow;
    background-image: url(pattern.jpeg);
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}
.sections {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes .sections{
    background-color: lightgreen;
}
.frames .sections{
    background-color:lightcoral;
}
.paint .sections{
    background-color: aqua;
}
figcaption{
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}
span{
    color: blue;
}    
figure{
    margin-left: 0px;
}